@import "bootstrap-sprockets";
@import "bootstrap";

/* variables */
$light-grey: #777;

/* mixins */
@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
  }

/* universal */
body{
    padding-top: 60px;
    background-color: whitesmoke;
    color: black;
}
section{
    overflow: auto;
}

textarea{
    resize: vertical;
}

.center{
    text-align: center;
	margin-top:10%;
    box-shadow: 0 0 20px gray;

    h1{
        margin-bottom: 10px;
		color: #764ba2;
    } 
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}
  
h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
	font-family: Arial;
}
  
h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $light-grey;
}
  
p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
	font-family: Georgia;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: $light-grey;
    
    a {
      color: #555;
      
      &:hover {
        color: #222;
      }
    
    }
    
    small {
      float: left;
    }
    
    ul {
      float: right;
      list-style: none;
	  
    
      li {
        float: left;
        margin-left: 15px;
		
      }
    
    }
}

/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }

  /* sidebar */

aside {
    section.user_info {
      margin-top: 20px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;

      }
    }
  }

  .gravatar {
    float: left;
    margin-right: 10px;
  }
  
  .gravatar_edit {
    margin-top: 15px;
  }

  /* forms */

  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
  }
  
  input {
    height: auto !important;
  }

  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }
  
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }

  .checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }
  
  #session_remember_me {
    width: auto;
    margin-left: 0;
  }

/* Users index */

.users {
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid lightblue 1px;
  column-count: 3; //update users_controller index :per_page to be divisble by this number
  
  li {
    overflow: hidden;
    padding: 10px;
    border: 1px solid lightblue;
    border-bottom: 0;
	
  }

  li:hover{
    background-color:lightblue;
  }
}

//the header navbar
#navbar{
    background-image:linear-gradient(to bottom right, #764ba2, #9badf7);
    background-color: #764ba2;
}
#navbar li a {
	color:white;
}

#navbar li a:hover {
	background-color:white;
	color: #ff66cc;	
}
.dropdown-menu{
	background-color: #9badf7;
}

//customize the page bar on the user index
.userPageBar{
  text-align: center;
}


/* Michael's Steg app css below here */
.sk-folding-cube {
  margin: 20px auto;
  width: 120px;
  height: 120px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  }

  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(220px) rotateX(-180deg);
              transform: perspective(220px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(220px) rotateX(0deg);
              transform: perspective(220px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(220px) rotateY(180deg);
              transform: perspective(220px) rotateY(180deg);
      opacity: 0; 
    } 
  }

  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(250px) rotateX(-180deg);
              transform: perspective(250px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(250px) rotateX(0deg);
              transform: perspective(250px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(250px) rotateY(180deg);
              transform: perspective(250px) rotateY(180deg);
      opacity: 0; 
    }
  }

  .mesageSection {
    background: #DCDCDC;
    border-radius: 5px;
    width: 100%;
    height: auto;
    min-height: 40px;
    padding: 10px;
  }

  .crypt-button{
    text-align:center;
    width:150px;
    height:30px;
    line-height:30px;
    background-color:#00ced1;
    cursor:pointer;
	border-radius: 8px;
  }

  .crypt-button:hover{
    background-color: #008284;
  }


  .fade-element-in.ng-enter {
    transition: 0.3s linear all;
    opacity: 0;
  }

  .fade-element-in-init .fade-element-in.ng-enter {
    opacity: 1;
  }

  .fade-element-in.ng-enter.ng-enter-active {
    opacity: 1;
  }

  .fade-element-in.ng-leave {
    transition: 0.3s linear all;
    opacity: 1;
  }
  .fade-element-in.ng-leave.ng-leave-active {
    opacity: 0;
  }
