<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Stenography is data hidden inside other data. Our application hides messages inside images!
  <br><embed src="https://en.wikipedia.org/wiki/Steganography" style="height:600px;width:100%;">
</p>