<% provide(:title, 'All users') %>
<h1>Everyone's here!</h1>

<div class="userPageBar">
  <%= will_paginate %>
</div>
<ul class="users">
  <%= render @users %>
</ul>
<div class="userPageBar">
  <%= will_paginate %>
</div>