<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div class="userContainer">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %><% if @user.admin? %>&#9733<%end%>
        </h1>
        <p>Date joined: <%= @user.created_at.strftime("%B %d, %Y") %><br>
        Images uploaded: <%= @user.ImageUploads %></p>
      </div>
    </section>
  </aside>
</div>